<a href="https://colab.research.google.com/github/jqirko6/AI-ML-2022/blob/main/Copy_of_Train_YLC_Week2_STUDENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2 Homework: Exploratory Data Analysis (EDA)
---
In this week's homework, you'll practice the exploratory data analysis (EDA) skills you learned during lecture and lab this week. You will work with three datasets and learn more about them.

There is optional additional practice to practice data cleaning and wrangling if your lab group completed those sections.

##### **Make sure to run these libraries before starting.**

In [ ]:
# import pandas as pd
import pandas as pd

# Import datasets submodule
from sklearn import datasets

## **Dataset #1**
---

The dataset below contains information about 10 U.S. States in alphabetical order.

In [ ]:
df = pd.DataFrame({'U.S. State':['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia'],
                         'Size (mi)': [52420, 665384, 113990, 53178, 163695, 104094, 5543, 2489, 65758, 59425],
                         'Number of U.S. Representatives':[7, 1, 9, 4, 53, 7, 5, 1, 27, 14]})

In [ ]:
df

    U.S. State  Size (mi)  Number of U.S. Representatives
0      Alabama      52420                               7
1       Alaska     665384                               1
2      Arizona     113990                               9
3     Arkansas      53178                               4
4   California     163695                              53
5     Colorado     104094                               7
6  Connecticut       5543                               5
7     Delaware       2489                               1
8      Florida      65758                              27
9      Georgia      59425                              14

#### **Exercise 1:** How many variables are there?

In [ ]:
len(df.columns)

3

#### **Exercise 2:** What is the data type of `U.S. State`?

In [ ]:
df["U.S. State"].describe

<bound method NDFrame.describe of 0        Alabama
1         Alaska
2        Arizona
3       Arkansas
4     California
5       Colorado
6    Connecticut
7       Delaware
8        Florida
9        Georgia
Name: U.S. State, dtype: object>

#### **Exercise 3:** What is the mean of the variable `Size`?

In [ ]:
df['Size (mi)'].mean()

128597.6

#### **Exercise 4:** What is the average number of U.S. House of Representatives that each state has?

In [ ]:
df["Number of U.S. Representatives"].mean()

12.8

## **Dataset #2**
---

This DataFrame loads data from the NBA including the game matchups, location, all shots taken, when on the shot clock they were taken, whether the shot was a make or a miss, the shooter, the closest defender, and more.

Each row represents a possesion prior to a shot.

In [ ]:
#load CSV
url = "https://raw.githubusercontent.com/the-codingschool/datascience/master/Unit%202/shot_logs.csv"
basketball_df = pd.read_csv(url)
basketball_df

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128064,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,5,3,1:52,18.3,5,...,8.7,2,missed,"Smart, Marcus",203935,0.8,0,0,jarrett jack,101127
128065,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,6,4,11:28,19.8,4,...,0.6,2,made,"Turner, Evan",202323,0.6,1,2,jarrett jack,101127
128066,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,7,4,11:10,23.0,2,...,16.9,2,made,"Thornton, Marcus",201977,4.2,1,2,jarrett jack,101127
128067,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,8,4,2:37,9.1,4,...,18.3,2,missed,"Bradley, Avery",202340,3.0,0,0,jarrett jack,101127
128068,21400006,"OCT 29, 2014 - BKN @ BOS",A,L,-16,9,4,0:12,NaN,5,...,5.1,2,made,"Bradley, Avery",202340,2.3,1,2,jarrett jack,101127

#### **Problem #1**. How many rows are there? Print the shape of the DataFrame.

In [ ]:
len(basketball_df.head())

5

#### **Problem #2**. What is the datatype of `DRIBBLES`?

In [ ]:
basketball_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128069 entries, 0 to 128068
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GAME_ID                     128069 non-null  int64
 1   MATCHUP                     128069 non-null  object
 2   LOCATION                    128069 non-null  object
 3   W                           128069 non-null  object
 4   FINAL_MARGIN                128069 non-null  int64
 5   SHOT_NUMBER                 128069 non-null  int64
 6   PERIOD                      128069 non-null  int64
 7   GAME_CLOCK                  128069 non-null  object
 8   SHOT_CLOCK                  122502 non-null  float64
 9   DRIBBLES                    128069 non-null  int64
 10  TOUCH_TIME                  128069 non-null  float64
 11  SHOT_DIST                   128069 non-null  float64
 12  PTS_TYPE                    128069 non-null  int64
 13  SHOT_RESULT                 128069 non-null  object
 14  CLOSEST_DEFENDER            128069 non-null  object
 15  CLOSEST_DEFENDER_PLAYER_ID  128069 non-null  int64
 16  CLOSE_DEF_DIST              128069 non-null  float64
 17  FGM                         128069 non-null  int64
 18  PTS                         128069 non-null  int64
 19  player_name                 128069 non-null  object
 20  player_id                   128069 non-null  int64
dtypes: float64(4), int64(10), object(7)
memory usage: 20.5+ MB

#### **Problem #3**: What are the mean number of dribbles per possesion? Use `DRIBBLES` as the feature.

In [ ]:
basketball_df['DRIBBLES'].mean()

2.023354597912063

#### **Problem #4**: Examine the value counts of the `player_name` column.

In [ ]:
basketball_df['player_name'].value_counts()

james harden         1054
mnta ellis           1052
lamarcus aldridge    1050
damian lillard        986
lebron james          978
                     ...
alan crabbe            94
mike miller            94
joey dorsey            93
jerome jordan          88
greg smith             47
Name: player_name, Length: 281, dtype: int64

#### **Problem #5**: Which player had the ball on the 1000th possession?

In [ ]:
basketball_df['player_name'][1001]

'al jefferson'

#### **Problem #6**: Were more shots made or missed by players? Use the feature `SHOT_RESULT`.

In [ ]:
basketball_df['SHOT_RESULT'].describe()

count     128069
unique         2
top       missed
freq       70164
Name: SHOT_RESULT, dtype: object

#### **Problem #7:** What was the median for the final margin in each basketball game? Use the feature `final_margin`.

In [ ]:
basketball_df['FINAL_MARGIN'].median()

1.0

### **Dataset #3**
---

This dataset contains information collected by the U.S Census Service concerning housing in the area of Boston, Massachusetts. It is a very commonly used dataset within the machine learning space - this particular version is the original *raw* version. It contains `Nan` values and anomalous results.


**There are 11 attributes in each case of the dataset.**

`CRIM` - per capita crime rate by town

`ZN` - proportion of residential land zoned for lots over 25,000 sq.ft.

`INDUS` - proportion of non-retail business acres per town.

`CHAS` - Charles River dummy variable (1 if tract bounds river; 0 otherwise)

`NOX` - nitric oxides concentration (parts per 10 million)

`RM` - average number of rooms per dwelling

`AGE` - proportion of owner-occupied units built prior to 1940

`DIS` - weighted distances to five Boston employment centres

`RAD` - index of accessibility to radial highways

`TAX` - full-value property-tax rate per $10,000

`PTRATIO` - pupil-teacher ratio by town

More information about the dataset can be found [here](https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html).

**Run the code below to load the dataframe:**

In [ ]:
data_url = "http://lib.stat.cmu.edu/datasets/boston"
df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO']
df.columns = columns
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO
0,0.00632,18.00,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3
1,396.90000,4.98,24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02731,0.00,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8
3,396.90000,9.14,21.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.02729,0.00,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...
1007,396.90000,5.64,23.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,0.10959,0.00,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0
1009,393.45000,6.48,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,0.04741,0.00,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0
1011,396.90000,7.88,11.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### **Exercise 1:** Using only the DataFrame attributes, how many rows of data does the DataFrame have?

In [ ]:
len(df.head())

5

#### **Exercise 2:** What is the average number of rooms per home?

In [ ]:
df['RM'].mean()

6.284634387351779

#### **Exercise 3:** What is the median of the `DIS` feature?

In [ ]:
df['DIS'].median()

3.2074499999999997

#### **Exercise 4:** Index the 494th row.

In [ ]:
df.index[494]

494

#### **Exercise 5:** How much mitric oxides concentration is there in total?

In [ ]:
df['NOX'].sum()

280.6757

#### **Exercise 6:** Which feature(s) have the most missing data?

In [ ]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO
count,1012.000000,1012.000000,1012.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,180.143778,12.008350,16.834792,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534
std,188.132839,17.250728,9.912616,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000
25%,0.257830,0.000000,8.375000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000
50%,24.021000,7.240000,18.100000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000
75%,391.435000,16.780000,21.890000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000
max,396.900000,100.000000,50.000000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000

### **Data Cleaning # 1 [Optional]**

---

Let's pretend you are a nutritionist looking at the prices of certain fruits to provide info to your client.

In [ ]:
fruit_df = pd.DataFrame({
    'fruit': ['apple','banana','cherry',
              'dates','elderberry'],
    'price':[1.00 , 0.50, None, 2.50, None]})
fruit_df

        fruit  price
0       apple    1.0
1      banana    0.5
2      cherry    NaN
3       dates    2.5
4  elderberry    NaN

#### **Exercise 1:** Use mean to fill in the missing values from the `fruit_df` DataFrame given in the previous problem and save as a new DataFrame `df_filled_mean`. Then check to make sure it worked.

### **Data Cleaning # 2 [Optional]**
---

Medical data at a local urgent care is recorded in a DataFrame. Patients are given a unique id upon entry and are charged according to their age and symptoms.

In [ ]:
medical_df = pd.DataFrame({'patient id':[100, 101, 102, 103, 104, 105, 106, 107, 108, 109],
                         'age': [10, 13, 15, 17, 19, 18, 16, 12, 14, 11],
                         'symptom':[None, 'flu', 'headache', 'headache', 'flu', None, None, 'headache', 'flu', None],
                         'charge':[30.00, None, 35.00, 36.00, 39.00, 38.00, 36.00, 32.00, 33.00, None]})

#### **Exercise 1:** Using the calculated mean below, use `fillna()` to replace NA values in the `"charge"` column.

#### **Exercise 2:** Drop all the null values, and compare the shape of the DataFrame before and after. How many rows were dropped?

#### **Exercise 3:** What is the average cost of going to this clinic?

---
Copyright 2022 The Coding School, All rights Reserved